pr:
  autoCancel: false
  branches:
    include:
    - '*'

jobs:
- job: lint
  displayName: 'Lint'

  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
  - task: UsePythonVersion@0
    displayName: 'Set Python version'
    inputs:
      versionSpec: '3.7.x'
      addToPath: true

  - script: pip install -r requirements-ci.txt
    displayName: 'Install project using pip'

  - script: python -m flake8 .
    displayName: 'Run linter'

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: '**/flake8.xml'
      testRunTitle: 'Publish test results from flake8'

- job: build
  displayName: 'Build'
  
  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
  - task: Docker@1
    displayName: 'Build an image'
    inputs:
      dockerFile: '$(System.DefaultWorkingDirectory)/Dockerfile'
      imageName: 'cyberdiscovery/cdbot:latest'

- job: validate
  displayName: Validate

  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
  - bash: wget https://github.com/instrumenta/kubeval/releases/latest/download/kubeval-linux-amd64.tar.gz
    displayName: 'Download Kubeval'

  - task: ExtractFiles@1
    displayName: 'Extract Kubeval'
    inputs:
      archiveFilePatterns: '*.tar.gz'
      destinationFolder: /tmp/kubeval

  - bash: '/tmp/kubeval/kubeval deployment.yaml'
    workingDirectory: '$(System.DefaultWorkingDirectory)/_CyberDiscovery_cyberdisc-bot'
    displayName: 'Run Kubeval'
