[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.6.0"
flake8-bandit = "==1.0.2"
flake8-bugbear = "==18.8.0"
flake8-import-order = "==0.18"
flake8-string-format = "==0.2.3"
flake8-tidy-imports = "==1.1.0"
flake8-todo = "==0.7"
safety = "==1.8.4"
dodgy = "==0.1.9"

[packages]
pyyaml = ">=4.2b1"
python-dateutil = "*"
Wand = "*"
"discord.py" = {extras = ["voice"],file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip"}

[requires]
python_version = "3.7"

[scripts]
bot = "python -m bot"
